.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  min-width: 300px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

}

.closeBtn {
  margin-top: 10px;
  align-self: flex-end;
  margin: 20px;
  cursor: pointer;
  background-color: #0078d4;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
}