.header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;

}


.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

:global(.dark) .header {
  background-color: #000;
  color: #fff;
}

:global(.light) .header {
  background-color: #2196F3;
  color: #fff;
}