body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #eeeae7;
  color: #ffffff;
}